@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: #e1e7f0;
    --background: #0a0d13;
    --primary: #f7b448;
    --secondary: #F7EDE2;
    --accent: #f3706d;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    background-color: var(--background);
}
